/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/lato-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/lato-v24-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  :root{
    --clr1:#ec1839;
    --clr2:#2196f3;
    --clr3:#fa5b0f;
    --clr4:#ffb400;
    --cl45:#72b626;
  }

  body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    background-color: var(--bgclrd);
    color: var(--textclr);
    overflow-x: hidden;
  }


  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  button, input{
    outline: none;
    background-color: none;
    border: none;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;

    color: var(--textclr);

  }

  /*  */

  body[data-theme="light"]{
    --bgclrd: #f2f2fc;
    --bgclrl:#fdf9ff;
    --hdgclr:#302e4d;
    --textclr:#504e70;
    --borclrd:#d4d4e3;
    --borclrl:#e8dfec;
  }

  body[data-theme="dark"]{
    --bgclrd: #151515;
    --bgclrl:#222222;
    --hdgclr:#ffffff;
    --textclr:#e9e9e9;
    --borclrd:#393939;
    --borclrl:#393939;
  }

  

  body[data-theme="light"] .revclr, button.revclr{
    color:#e9e9e9;
    background-color: var(--clr1);
  }

  .customclr{
    color: var(--clr1);
  }

  .head1{
    color: var(--hdgclr);
    font-size: 3rem;
    font-weight: 900;
  }
  
  .head2{
    color: var(--hdgclr);
    font-size: 1.5rem;
    font-weight: 700;
  }
 
  .head3{
    color: var(--hdgclr);
    font-weight: 700;
  }

  .d-f{
    display: flex;
    gap: 1rem;
  }

  .f-d-c{
    flex-direction: column;
  }

  .j-sb{
    justify-content: space-between;
  }

  .a-c{
    align-items: center;
  }

  .t-a-c{
    text-align: center;
  }

  .j-c{
    justify-content: center;
  }

  .fwr-wr{
    flex-wrap: wrap;
  }

  /*  */
  #modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #00000099;
    transform: scale(0);
    display: none;
    animation: scalee 0.3s ease-in;
  }

  #closeModal{
    position: absolute;
    left: calc(100% - 2rem);
    top: 5%;
    border: 1px solid var(--borclrl);
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--bgclrl);
    z-index: 11;
    font-size: 1rem;
  }

  #prevModal{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--borclrl);
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--bgclrl);
    z-index: 11;
    font-size: 1rem;
  }


  #nextModal{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--borclrl);
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--bgclrl);
    z-index: 11;
    font-size: 1rem;
  }

  #modalCont{
    width: calc(100%);
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #modalCont img{
    max-width: 100%;
    max-height: 100%;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 2;
    background-color: var(--bgclrl);
    transition: all 0.3s;
  }

  #openNav, #closeNav{
    display: none;
    position: fixed;
    top: 3rem;

    border: 1px solid var(--borclrl);
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--bgclrl);
  }

  main{
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    min-height: 100vh;
  }

  .headerCont{
    width: 100%;
    height: 100%;
    padding: 3rem 1.5rem;
    background-color: var(--bgclrl);
    border-right: 1px solid var(--borclrd);
  }


  .headerCont .logo{
    position: relative;
    /* border: 1px solid black; */
  }

  .headerCont .logo::before{
    position: absolute;
    content: '';
    top: 0;
    left: -10px;
    color: var(--clr1);
    width: 1rem;
    height: 1rem;
    border-left: 0.25rem solid var(--clr1);
    border-top: 0.25rem solid var(--clr1);
  }

  .headerCont .logo::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: -10px;
    color: var(--clr1);
    width: 1rem;
    height: 1rem;
    border-right: 0.25rem solid var(--clr1);
    border-bottom: 0.25rem solid var(--clr1);
  }
  
  .headerCont nav{
    align-self: flex-start;
    width: 100%;
  }

  .headerCont nav ul > li > a{
    display: block;
    cursor: pointer;
    padding: 1rem 0;
    border-bottom: 1px solid var(--borclrd);
    transition: all 0.2s;
  }

  .headerCont nav ul > li > a span{
    margin-left: 0.5rem;
  }

  .headerCont nav ul > li > a:hover{
    color: var(--clr1);
    padding-left: 0.5rem;
  }

  .headerCont nav ul > li > a.active{
    color: var(--clr1);
  }


  /*  */


  aside{
    position: fixed;
    right: 0;
    top: 3rem;
    z-index: 1;
    background-color: var(--bgclrl);

    transition: all 0.2s;
  }


  .setting .icon{
    position: absolute;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--borclrl);
    cursor: pointer;
    padding: 1rem;
    background-color: var(--bgclrl);
  }

  .setting .icon i{
    animation: settrotate 2s linear 0s infinite;
  }

  @keyframes settrotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }

  .setting .colors{
    /* border: 1px solid red; */
    padding: 0.5rem;
  }

  .setting .colors > ul > li:not(:last-child){
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--borclrd);
  }

  .setting .textclr button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.3rem;
  }

  .setting .theme input{
    display: none;
  }

  .setting .theme label{
    display: block;
    position: relative;
    height: 1.5rem;
    width: 3.5rem;
    border-radius: 20px;
    background-color: var(--clr1);
    cursor: pointer;
  }


  .setting .theme label .slider{
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #fff;

    top: 50%;
    transform: translateY(-50%);
    left: 3px;

    transition: all 0.2s;
  }

  .setting .theme label::after{
    position: absolute;

    content: '\f185';
    font-weight: 900;
    font-family: 'font awesome 5 free';

    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;

    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 1rem);

    transition: all 0.2s;
  }

  body[data-theme="dark"] .setting .theme label .slider{
    left: calc(100% - 1.2rem - 3px);
  }

  body[data-theme="dark"] .setting .theme label::after{
    content: '\f186';
  }



 

  /*  */
  section{
    width: 100%;
    min-height: 100vh;
    padding: 3rem 1.5rem;
    opacity: 0;
    animation: fade 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  section.home{
    gap: 2rem;
  }

  section.home .imgCont{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid var(--bgclrl);
    box-shadow: 0px 0px 25px var(--borclrl);
  }

  section.home .imgCont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
  }

section.home .me{
    letter-spacing: 1px;
}

section.home .socials > ul > li > a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--clr1);
    padding: 1.2rem;
}


/*  */

.sectionTitle{
  position: relative;
  margin-bottom: 3.5rem;
  width: fit-content;
}

.sectionTitle::before{
  position: absolute;
  content: '';
  bottom: -0.5rem;
  left: 0;
  width: 30%;
  height: 0.2rem;
  background-color: var(--clr1);
}

.sectionTitle::after{
  position: absolute;
  content: '';
  bottom: -1rem;
  left: 0;
  width: 20%;
  height: 0.2rem;
  background-color: var(--clr1);
}

.about .skills > p{
  width: 300px;
  /* border: 1px solid red; */
}

.about .skills > p span:nth-child(2){
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--borclrd);
}

.about .skills > p span:nth-child(2){
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--borclrd);
  position: relative;
}

.about .skills > p span:nth-child(2) span{
  position: absolute;
  background-color: var(--clr1);
  left: 0;
  content: '';
  height: 100%;
}

.about .aboutdesc button{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.eduExp .head2.title{
  margin-bottom: 2.5rem;
  color: var(--clr1);
}

.edu, .exp{
  padding: 1rem 2rem;
  max-width: 500px;
  background-color: var(--bgclrl);
  border: 1px solid var(--borclrd);
  box-shadow: 0 0 10px var(--borclrd);
  position: relative;
}

.edu::before, .exp::before{
  position: absolute;
  content: '';
  left: 0.8rem;
  height: calc(100% - 2rem);
  width: 0.2rem;
  background-color: var(--clr1);
}

.eachedu, .eachexp{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eachedu .desc, .eachexp .desc{
  line-height: 1.4;
}

.eachedu .time, .eachexp .time{
  position: relative;
}

.eachedu .time::before, .eachexp .time::before{
  position: absolute;
  position: absolute;
  content: '';
  left: -1.6rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--clr1);
}

.eachedu:not(:last-child), .eachexp:not(:last-child){
  margin-bottom: 2rem;
}

/*  */


.myworks ul > li{
  padding: 0.5rem;
  cursor: pointer;
}

.myworks ul > li.active{
  color: var(--clr1);
}

.myworks .eachCatagory .imgCont{
  width: 300px;
  border: 5px solid var(--bgclrl);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--bgclrl);
  position: relative;
  overflow: hidden;
  animation: scalee 0.3s linear;
  cursor: pointer;
}

@keyframes scalee {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.myworks .eachCatagory .imgCont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.myworks .eachCatagory .imgCont .imgoverlay{
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: 200%;
  height: 1%;
  background-color: var(--clr1);
  opacity: 0.9;
  transform: rotate(-45deg);

  transition: all 0.3s ease-in;
}

.myworks .eachCatagory .imgCont .imgdesc{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;

  transition: all 0.2s linear 0.25s;

}

.myworks .eachCatagory .imgCont:hover .imgoverlay{
  height: 250%;
}

.myworks .eachCatagory .imgCont:hover .imgdesc{
  opacity: 1;
}

